<div class="homepage-image-container">
  <%= image_tag("home_page.jpg", class: "home-page-photo") %>
  <div class="homepage-image-text">
    The average person loses
    more than $155,000 of their wealth
    to investment fees over time.
  </div>
  <div class="homepage-image-more-text">
    Isn't it time you reclaim your wealth?
  </div>
</div>

<%= form_for @user, html: { class: "first-signup-form"} do |f| %>
  How old are you?
  <%= f.text_field :age %>
  What's your income?
  <%= f.text_field :income %>
  Are you retired?
  Yes: <%= f.radio_button :retired, true %>
  No: <%= f.radio_button :retired, false %>
  <br>
  Do you have investments?
  Yes: <%= f.radio_button :current_investments, true %>
  No: <%= f.radio_button :current_investments, false %>
  <br>
  How much have you invested so far?
  <%= f.text_field :current_investments_amount %>
  <%= f.submit "Continue", class: "button" %>
<% end %>