<table>
  <tr>
    <th>Ticker</th>
    <th>Total Score</th>
    <th>Expense Ratio</th>
    <th>Total Assets</th>
  </tr>

  <% @results.each do |sec| %>
    <tr>
      <td><%= sec.security %></td>
      <td><%= sec.total_score %></td>
      <td><%= sec.expense_ratio.to_f %></td>
      <td><%= sec.total_assets.to_f %></td>
    </tr>
  <% end %>
  
  <% @last_results.each do |last_result| %>
  <tr>
    <td><%= last_result.ticker %></td>
    <td><%= last_result.fund_name %></td>
    <td><%= last_result.expense_ratio.to_f %></td>
    <td><%= last_result.total_assets.to_f %></td>
    <td><%= last_result.asset_class %></td>
    <td><%= last_result.geo_area %></td>
  </tr>
  <% end %>
</table>
